<footer class="footer mt-5">
  <div class="container py-5">

    <div class="row gy-4">

      <div class="col-md-4">
        <h5 class="footer-brand">
          <i class="fa-regular fa-compass me-2"></i>StayFinder
        </h5>
        <p class="footer-text">
          Discover unique places to stay, anywhere in the world.
          Your next experience starts here.
        </p>
      </div>

      <div class="col-md-2">
        <h6 class="footer-heading">Explore</h6>
        <ul class="footer-links">
          <li><a href="/listings">All Listings</a></li>
          <li><a href="/listings/new">Add Listing</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h6 class="footer-heading">Support</h6>
        <ul class="footer-links">
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Safety Information</a></li>
          <li><a href="#">Cancellation Options</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h6 class="footer-heading">Connect</h6>
        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>

    </div>

    <hr class="footer-divider">

    <div class="text-center small-text">
      © <%= new Date().getFullYear() %> StayFinder · Built with ❤️ by Shivanshu
    </div>

  </div>
</footer>
