<nav class="navbar navbar-expand-lg navbar-light custom-navbar sticky-top">
  <div class="container">

   <a class="navbar-brand brand-logo" href="/">
     <i class="fa-regular fa-compass me-2"></i>StayFinder
   </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-center gap-3">

        <li class="nav-item">
          <a class="nav-link nav-hover" href="/listings">Explore</a>
        </li>

        <li class="nav-item">
          <a class="btn add-listing-btn" href="/listings/new">
            Add Listing
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
