.hero {
    height: 90vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    ),
    url("https://images.unsplash.com/photo-1505691938895-1758d7feb511")
    center/cover no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.hero-subtitle {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.hero-buttons .btn {
    padding: 12px 28px;
    font-size: 1.1rem;
}

.features h4 {
    margin-bottom: 1rem;
}